/*  -------------------------------------------  */

.attribution { font-size: 11px; text-align: center; margin-top: 25px;}
.attribution a { color: hsl(228, 45%, 44%); }

@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
/* 400 */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
/* 400, 600, 700 */

/*  -------------------------------------------  */

* {
    padding: 0;
    margin: 0;
}

:root {
--white: hsl(0, 0%, 100%);

--stone100: hsl(30, 54%, 90%);
--stone150: hsl(30, 18%, 87%);
--stone600: hsl(30, 10%, 34%);
--stone900: hsl(24, 5%, 18%);

--brown800: hsl(14, 45%, 36%);

--rose800: hsl(332, 51%, 32%);
--rose50: hsl(330, 100%, 96%);
}

body {
    font-size: 16px;
    background-color: var(--stone150);
}

main {
    background-color: var(--white);
    display: flex;
    margin: auto;
    margin-top: 15px;
    width: 800px;
    align-items: baseline;
    flex-direction: column;
    padding: 35px;
    border-radius: 15px;
}

header h1 {
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 20px;
    font-size: 50px;
}

header p {
    color: var(--stone600);
    margin-bottom: 25px;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}



img {
    border-radius: 15px;
    width: 800px;
    align-items: center;
    margin-bottom: 25px;
}



hr {
    width: 800px;
    margin-bottom: 35px;
}