#inst h2 {
    color: var(--brown800);
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
    font-size: x-large;
}

.inst-list li {
    margin-left: 25px;
    margin-top: 15px;
}

.inst-list li p {
    margin-left: 10px;
    color: var(--stone600);
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.inst-list li::marker {
    color: var(--brown800);
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-weight: bold;
}

#inst {
    margin-bottom: 35px;
}