#nutr {
    display: flex;
    flex-direction: column;
}

.nutr-header h2 {
    color: var(--brown800);
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
    font-size: x-large;
    margin-bottom: 15px;
}

.nutr-header p {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: var(--stone600)
}

.nutr-header {
    margin-bottom: 10px;
}

.nutr-table {
    margin-left: 20px;
    width:100%;
    border-collapse: collapse;
}

.nutr-table td {
    padding: 15px 0 15px 0;
    border-bottom:1px solid var(--stone150);
    border-width: 100%;
}

.nutr-table tr:last-child td {
    border-bottom: none;
}

.nutr-name {
    color: var(--stone600);
    font-family: "Outfit", sans-serif;
}

.nutr-num {
    color:var(--brown800);
    font-weight: bold;
    font-family: "Outfit",sans-serif;
}