.attribution {
  margin-top: 20px;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* main */

#main {
  background-color: var(--white);
  padding: 50px;
  border-radius: 30px;
  margin: 0 auto;
  width: 700px;
  margin-top: 5rem;
}

#main img {
  width: 700px;
  border-radius: 20px;
}

/* head */

.head h1 {
  font-size: 40px;
  font-family: "Young Serif";
  font-weight: 100;
  margin-bottom: 10px;
}

.head p {
  color: var(--stone600);
  font-family: "Outfit";
  font-size: small;
}

.head {
  margin-bottom: 50px;
}

/* prepTime */

.prepTime {
  margin-left: 20px;
}

.prepTime h3 {
  color: var(--rose800);
  font-family: "outfit";
}

.prepTime span {
  padding-left: 25px;
}

.prepTime li {
  margin: 0;
  font-family: "outfit";
  color: var(--stone600);
  margin-top: 10px;
}

.prepTime li::marker {
  color: var(--rose800);
}

/* ingredients */

.ing {
  margin-top: 50px;
  margin-bottom: 40px;
}

.ing h2 {
  font-family: "Young Serif";
  font-weight: 200;
  color: var(--brown800);
}

.ing li {
  margin: 0;
  font-family: "outfit";
  color: var(--stone600);
  margin-top: 10px;
  font-size: 15px;
}

.ing li span {
  padding-left: 25px;
}

.ing li::marker {
  color: var(--brown800);
}

/* instructions */
.int {
  margin-top: 25px;
  margin-bottom: 25px;
}

.int h2 {
  font-family: "Young Serif";
  font-weight: 200;
  color: var(--brown800);
}

.int li {
  color: var(--stone600);
  font-family: "outfit";
  margin-bottom: 10px;
}

.int li p {
  margin-left: 10px;
}

/* nutrition */
.nutr h2 {
  font-family: "Young Serif";
  font-weight: 200;
  color: var(--brown800);
}

.nutr p {
  color: var(--stone600);
  font-family: "Outfit";
  font-size: small;
}

.sidebyside-cont {
  display: flex;
}

.first {
  margin-right: 30rem;
}

table {
  margin-left: 25px;
  font-family: "outfit";
  color: var(--stone600);
}
.td {
  padding-left: 20rem;
  color: var(--brown800);
  font-weight: 600;
}

td {
  padding-bottom: 10px;
}
